body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-image: url("IMG_4994.JPG");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: none;
    opacity: 0;
    z-index: 1;
    position: relative;
    min-width: 300px;
    min-height: 400px;
    width: 40vw;
    height: 40vh;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, .25);
    transition: 1s;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.card .details .content {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}

.card .details .content h2{
    font-size: 1.4em;
}

.card .details .content h2 span {
    font: 400 130px/0.8 "Great Vibes", Helvetica, sans-serif;
    font-size: 64px;
}

.card .details .content p span {
    font: 400 130px/0.8 "Great Vibes", Helvetica, sans-serif;
    font-size: 64px;
}

.card .details .content p {
    font-size: 16px;
    font-family: sans-serif;
}